# TESTNET - MAINNET
#PRIVATE_KEY="0xYourKey"

# DEV - ZKSYNC - LOCAL
PRIVATE_KEY="0x7726827caac94a7f9e1b160f7ea819f172f7b6f9d2a97f992c38edeab82d4110"
POLYGONSCAN_API_KEY="YOUR_API_KEY"
WEB3_INFURA_PROJECT_ID="PID HERE"
DIAMOND_ADDRESS="0x016FB524A14ABDd7044f91121A665ad7D0103B0f"
ETHSCAN_API_KEY="X"
PUBLIC_KEY="0xYourKey"
ENCRYPTION_KEY=""
RPC_URL=https://endpoints.omniatech.io/v1/matic/mumbai/public
AUTO_VERIFY=false
ERC20_TOKEN_ADDRESS="0xA79498e38264330603F00AfEC577539B4b5D6F51"
ACHIEVO_BASE_URL="https://staging-api.achievo.xyz"
ACHIEVO_AUTH_TOKEN="token"