{
    "plugins": ["prettier-plugin-solidity"],
    "singleQuote": true,
    "trailingComma": "es5",
    "requirePragma": false,
    "arrowParens": "always",
    "bracketSameLine": true,
    "tabWidth": 4,
    "printWidth": 120,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "parser": "solidity-parse",
                "compiler": "0.8.24",
                "printWidth": 80,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": true,
                "semi": true
            }
        }
    ]
}
