{
    "singleQuote": true,
    "trailingComma": "es5",
    "requirePragma": false,
    "arrowParens": "always",
    "bracketSameLine": true,
    "tabWidth": 4,
    "printWidth": 160,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "compiler": "0.8.20",
                "explicitTypes": "always",
                "printWidth": 160,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": true,
                "arrowParens": "always",
                "semi": true
            }
        }
    ]
}
